@import url('https://fastly.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.1/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css');
@import "tailwindcss";


:root {
  --background-rgb: 214, 219, 220;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  font-family: 'Wanted Sans', sans-serif;
  background: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}
@config "../tailwind.config.js";
@layer components {
    .btn {
        @apply px-4 py-2 rounded-full text-white bg-blue-500 hover:bg-blue-600;
    }
}
@layer utilities {
    .btn:hover {
        @apply bg-blue-600;
    }
}
@layer base {
    .btn {
        @apply px-4 py-2 rounded-full text-white bg-blue-500 hover:bg-blue-600;
    }
}